<!DOCTYPE html>
<html>
<head>
	<title>Create</title>
</head>
<body>
	<form action="/createdata" method="POST">
		<h3>Create data</h3>
		Number Plate <input type="text" name="numberplate"><br>
		Type (car, van etc...) <input type="text" name="type"><br>
		Color <input type="text" name="color"><br>
		<input type="submit" value="create new entry">
	</form>

</body>
</html>