<!DOCTYPE html>
<html>
<head>
	<title>CRUD app</title>
</head>
<body>
	<a href="/createdata">create data</a><br>
	<a href="/getdata">search data</a><br>
	<a href="/updatedata">update data</a><br>
	<a href="/deletedata">delete data</a>
</body>
</html>