<!DOCTYPE html>
<html>
<head>
	<title>Update</title>
</head>
<body>
	<form action="/updatedata" method="POST">
		<h3>Update data</h3>
		Number Plate <input type="text" name="numberplate"><br>
		Type <input type="text" name="type"><br>
		Color <input type="text" name="color"><br>
		<input type="submit" value="update">
	</form>
</body>
</html>